[submodule "bashProfile"]
	path = files/bash/profile
	url = https://gist.github.com/5176d35739a0f4e7acfd.git
[submodule "bashrc"]
	path = files/bash/bashrc
	url = https://gist.github.com/f3b61fcd1fa946df6dac.git
[submodule "bashFunctions"]
	path = files/bash/functions
	url = https://gist.github.com/894d8c2d1d4813c36b7d36e9a97aedd6.git
[submodule "crontab"]
	path = files/crontab
	url = https://gist.github.com/9a48a3b9ef32d93d15f45c3f007550b4.git
[submodule "shellColors"]
	path = files/shell/colors
	url = git@gist.github.com:8bb600ff913a8097c4ce551b6cbacff5.git
[submodule "gitHooks"]
	path = files/git/hooks
	url = git@gist.github.com:e3ea90efb3084034bccc60f770a2d37c.git
